FreelanceBookkeeper/obj/Debug/
FreelanceBookkeeper/.vs/FreelanceBookkeeper.slnx/FileContentIndex/586b2d10-15c5-4c7a-81f1-c359a9eb4b5c.vsidx
FreelanceBookkeeper/.vs/
FreelanceBookkeeper/bin/
FreelanceBookkeeper/obj/
